.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 23px;
    grid-row-gap: 0px;
}
.form-wrapper{
    width: 70%;
}
.my-tab-header{
    text-align: center;
    border-style: solid;
    border-width: medium;
    background-color: #007bff;
    margin-bottom: 1rem;
    font-family: Serif;
}

.login-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.logout-end{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    text-align: end;
}

.divLeft { grid-area: 1 / 1 / 2 / 2; }
.divRight { grid-area: 1 / 2 / 2 / 3; }

.parentExam {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.divTop{ grid-area: 1 / 1 / 2 / 2; }
.divBot { grid-area: 2 / 1 / 3 / 2; }